# server configuration
PORT=3000
HOST=localhost
HOST_URL=http://localhost:3000

# database configuration
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=logement_etudiant
MYSQL_PORT=3306

#JWT
SECRET_KEY = "ader"
GOOGLE_GENAI_API_KEY = 
GOOGLE_MAPS_API_KEY = 
#
NODE_ENV = 'development'