# server configuration
PORT=3000
HOST=localhost
HOST_URL=http://localhost:3000

# database configuration
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=logement_etudiant
MYSQL_PORT=3306

#JWT
SECRET_KEY = "ader"
GOOGLE_GENAI_API_KEY = "AIzaSyBwRytoWZUl7SEztC-mFfeV4UJ8R842r50"
GOOGLE_MAPS_API_KEY = "AIzaSyD0yI8RiNp5uxgZD7OasrMrDCcKLaGq0hA"

# Email SMTP Configuration (pour les notifications)
# Exemple pour Gmail:
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=votre_email@gmail.com
SMTP_PASSWORD=votre_mot_de_passe_application
SMTP_FROM_EMAIL=noreply@takelog.com
SMTP_FROM_NAME=TakeLog Notifications

# NODE_ENV = 'development'